/* @import "reset.css"; */
@import "header.css";
@import "footer.css";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(230, 230, 233);
  width: 60px;
  height: 60px;
  border-radius: 5px;
  font-size: 23px;
  font-weight: bold;
  background-color: white;
}
